@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  margin: 0;
}



.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
}

.navbar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #fff; /* Add a border */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Add a shadow effect */
}
.navbar .socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
.navbar .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.nav-links {
  padding-top: 30px;
}

.navbar h2 {
  padding-bottom: 20px; /* Add desired padding */
}

.navbar .nav-links a i {
  font-size: 1.2em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(vectors);
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: #fff;
}

i {
  color: white;
}

.bubble {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.bubble i {
  margin-top: 7px;
  margin-left: 7px;
}

.title {
  background-color: #333;
}

